.wrapper__registration
  .registration__sign-up
    .registration__header
      REGISIT MEMBER
    .registration__main
      .registration__main__top
        %h3 INFORMATION
      .registration__main__inner
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .form-group
          .form-group__nickname
            .form-group__title
              NICK NAME
              %span.formRequire must
            = f.text_field :nickname,class: "form-group-box", placeholder: " RYU", autofocus: true, maxlength: "6"
          .form-group__email
            .form-group__title
              E-MAIL
              %span.formRequire must
            = f.email_field :email,class: "form-group-box", placeholder: " divetweet@divetweet.com"
          .form-group__password
            .form-group__title
              PASSWORD
              %span.formRequire must
            = f.password_field :password,class: "form-group-box", placeholder: " minimum password 6length", autocomplete: "off"
          .form-group__password
            .form-group__title
              PASSWORD
              %span.formRequire must
            = f.password_field :password,class: "form-group-box", placeholder: " minimum password 6length", autocomplete: "off"
        .form-group__submit
          = f.submit "SUBMIT"
