.header
  .header-top
    .header-top__left
      = link_to root_path do
        = image_tag("https://manta-dive-giliair.com/themes/manta-dive-giliair/images/logo.png", size:"120x55", class: 'header-logo')
      %p FUN TO DIVE®︎
    .header-top__right
      = form_tag("/tweets/search", method: :get, id: "new-keyword") do
        %input.search-box{name: "keyword", placeholder: "keyword search", type: "text", value: ""}
        %button.search-button{type: "submit"}
          = fa_icon 'fa-search', class: 'fa-search'
  .header-bottom
    .header-bottom__left
      %ul
        %li
          = link_to root_path, class: "news", style: "text-decoration: none;" do
            NEWS(developing)
        %li
          = link_to root_path, class: "dive-shop", style: "text-decoration: none;" do
            Dive-Shop(developing)
        %li
          = link_to root_path, class: "info", style: "text-decoration: none;" do
            Info(developing)
        %li
          = link_to root_path, class: "about", style: "text-decoration: none;" do
            About(developing)
    - if user_signed_in?
      .header-bottom__right
        .header-bottom__right__logout
          = link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "header-bottom__right__logout"
        .header-bottom__right__profile
          = link_to " MY PAGE ", "#", class: "header-bottom__right__profile"
    - else
      .header-bottom__right2
        .header-bottom__right2__login
          = link_to "LOG IN", new_user_session_path, class: "header-bottom__right2__login"
        .header-bottom__right2__regist
          = link_to "NEW ACCOUNT", new_user_registration_path, class: "header-bottom__right2__regist"
